@use '../base/mixin' as mx;
@use '../base/base' as v;

// ==========================================================================
// Contact Thanks page（お問い合わせありがとうございます）
// ==========================================================================

.contact-thanks {
    padding-block: 0 clamp(80px, calc(114.5px + -3.367vw), 100px);

    &__inner {
        margin-inline: auto;
        text-align: center;
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;

        // 431px = 80px / 1023px = 180px
        width: clamp(80px,calc(7.20px + 16.879vw),180px);
        aspect-ratio: 1 / 1;

        margin-inline: auto;
        margin-block-end: 32px;

        border: 2px solid v.$color-blue;
        border-radius: 50%;
        color: v.$color-blue;

        img {
            display: block;
            width: 66.667%;
            max-width: 120px;
            height: auto;
            max-height: 66.667%;
            object-fit: contain;
        }
    }

    &__heading {
        font-size: clamp(2.0rem, calc(18.21px + 1vw), 3.2rem);
        font-weight: v.$fw-bold;
        margin-block-end: 24px;
    }

    &__text {
        font-size: clamp(1.4rem, calc(11.38px + 0.8418vw), 2rem);
        line-height: 1.8;
        color: v.$color-text;
    }
}